<ion-view title="酒店查找" class="grey">
    <ion-content>
        <div class="content grey" id="main_box">
            <div class="hotel_search">
                <ul class="table-view">
                    <li class="table-view-cell media">
                        <a class="navigate-right" href="#/tab/hotel-choose">
                            <span class="media-object pull-left icon cheng"></span>
                            <em class="pull-right">{{place.city}}</em>

                            <div class="media-body">
                                入住城市
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="table-view">
                    <li class="table-view-cell media">
                        <a class="navigate-right">
                            <div class="hotel_date">
                                <dl>
                                    <dt></dt>
                                    <dd>
                                        入住日期
                                        <input id="demo" ng-model="dDate" type="text" time="0"
                                               ng-click="selDate('dDate')"/>
                                    </dd>
                                </dl>
                                <p class="line"></p>
                                <dl>
                                    <dt></dt>
                                    <dd>
                                        离店日期
                                        <input id="demo2" ng-model="aDate" type="text" time="0"
                                               ng-click="selDate('aDate')"/>
                                    </dd>
                                </dl>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="table-view">
                    <li class="table-view-cell media">
                        <a class="navigate-right" href="#" ng-click="getAreasAndZones();">
                            <span class="media-object pull-left icon guan"></span>
                            <em class="pull-right"
                                ng-if="curAreasName == '' && curZonesName == '' && curbandsName == '' ">不限</em>
                            <em class="pull-right">{{curAreasName}}{{curZonesName}}{{curbandsName}}</em>

                            <div class="media-body">
                                位置/商圈/品牌
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="table-view">
                    <li class="table-view-cell media xinj">
                        <a class="navigate-right" href="#/tab/hotel-select2">
                            <span class="media-object pull-left icon xin"></span>
                            <em class="pull-right" ng-show="!price.go && !hotel.sel.HotelStarRat">不限</em>
                            <em class="pull-right" ng-if="price.go || hotel.sel.HotelStarRate">{{price.go ? price.go :0}}至{{price.end ? price.end : 150}} /{{numToCn(hotel.sel.HotelStarRate)}}星级</em>

                            <div class="media-body">
                                星级/价格
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="searchBtn pad10">
                    <a href="#" class="btn btn-block btn-orange" ng-click="search();">搜索</a>
                </div>
            </div>
        </div>
        

    </ion-content>
</ion-view>