<ion-view title="机票">
    <ion-content>
        <div class="content pad50" id="main_box">
            <section>
                <div class="plane_tit">
                    <p class="tit_line"></p>
                    <h5>单程</h5>
                </div>
                <div class="citychange" >
                    <div class="cityone" ng-click="changeTpl('dCity')">
                        <dl>
                            <dt></dt>
                            <dd>
                                <h6>出发城市</h6>
                                <p><span class="dCityName">{{plane.dCity}}</span></p>
                            </dd>
                        </dl>
                    </div>
                    <div class="citytwo" ng-click="exchangeCity();">

                    </div>
                    <div class="citythree"  ng-click="changeTpl('aCity')">
                        <dl>
                            <dt>
                            <h6>到达城市</h6>
                            <p><span class="aCityName">{{plane.aCity}}</span></p>
                            </dt>
                            <dd>

                            </dd>
                        </dl>
                    </div>
                </div>
            </section>
            <section>
                <ul class="table-view pad10">
                    <li class="table-view-cell chtime nopa">
                        <h3>出发日期</h3>
                        <p>
                            <input id="demo" type="text" ng-model="plane.dDate" ng-click="selDate('plane.dDate');"/>
                        </p>
                    </li>
                </ul>
                <div class="plane_bot">
                    <button class="btn btn-positive btn-block btn-orange search_plane"  ng-click="searchFlight()">搜索</button>
                </div>
            </section>
            <nav class="nav_txt bar-tab">
                <ul>
                    <li>
                        <img src="images/btm_img.jpg">
                    </li>
                    <li>
                        <img src="images/btm_img2.jpg">
                    </li>
                    <li>
                        <img src="images/btm_img3.jpg">
                    </li>
                </ul>
            </nav>

        </div>
        <div id="myPopover">
            <h4></h4>
        </div>
    </ion-content>
</ion-view>