<ion-view title="团游">
    <ion-content scroll="false">
        <div class="botphone popover2" ng-show="show">
            <img src="images/logo.jpg" class="logo">
            <h4>24小时客服电话</h4>

            <p>{{conf.phone|phone}}（免长途费）</p>
            <a class="btn btn-orange btn-block" href="tel:{{conf.phone}}">电话咨询</a>
            <button class="btn btn-grey btn-block" ng-click="showPhone(false)">取消</button>
        </div>
    </ion-content>

    <ion-content>
        <ion-refresher
                pulling-text="加载中..."
                on-refresh="getLastPage(curPage - 1)"
                ></ion-refresher>
        <div class="content grey" id="main_box">
            <header class="orange head index-head">
                <!--<select name="" id="" ng-model="searchType">
                    <option value="{{v.type}}" ng-repeat="v in typeList">{{v.name}}</option>
                </select>-->
            <a class="tab city" href="#" ng-click="show=!show">团游</a>
            <!--<a class="pull-left tab city" href="#/tab/dash-choose">{{place.city}}</a>-->

            <h1 class="search-h1"><input type="search" placeholder="搜索目的地" ng-blur="search(keyword ,searchType);"
                                         ng-model="keyword"><span class="icon icon-search" ng-click="search(keyword , searchType);"></span></h1>
            <span class="callphone" ng-click="showPhone(true);"><img src="images/phoneicon.png"></span>

                                     </header>
             <ul class="box-chooze" ng-show="show" ng-click="show=false;">
                 <li>机票</li>
                 <li>旅游</li>
                 <li>酒店</li>
             </ul>                            
            <section class="pad10 border_bottom white padt50">
                <div class="dest clearfix">
                    <a href="#" ng-repeat="v in hotCity.lists" ng-click="selCity(v.cityname)" ng-class="v.cityname == plane.dCity ? 'orange' : ''">{{v.cityname}}</a>
                </div>
                <!--<a class="more_cw" href="#" ng-click="selAll();">查看所有产品<span class="icon icon-right-nav"></span></a>-->
            </section>
            <section>
                <div class="segmented-control traveltab">
                    <a ng-class="curMenu == 'zhoubian' ? 'control-item active' : 'control-item'" href="#"
                       ng-click="changeMenu('zhoubian');index = 1;">周边旅游</a>
                    <a  ng-class="curMenu == 'jingnei' ? 'control-item active' : 'control-item'" href="#" ng-click="changeMenu( 'jingnei');index = 2;">国内旅游</a>
                    <a  ng-class="curMenu == 'jingwai' ? 'control-item active' : 'control-item'" href="#" ng-click="changeMenu('jingwai'); index = 3;">出境旅游</a>
                </div>
                <div class="card travel_list">
                    <div id="item1mobile" class="control-content active">
                        <ul class="table-view">
                            <ion-list>
                                <ion-item ng-repeat="v in zhoubian.lists">
                                    <li class="table-view-cell media nopa">
                                        <a class="navigate-right nopa" href="#" ng-click="showDetal(v.packageid);">
                                            <img class="media-object pull-left" src="{{v.image_url}}">

                                            <div class="media-body">
                                                <h4>{{v.packagename}}{{v.productname}}</h4>
                                                <h6><em>￥{{v.today_price}}</em>起</h6>
                                                <p><span>月供<em>{{(v.today_price/12).toFixed(0)}}</em></span><span>分<em>12</em>期</span>
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </ion-item>
                            </ion-list>
                            <ion-infinite-scroll
                                    on-infinite="loadMore(curPage+1)"
                                    distance="1%"
                                    >
                            </ion-infinite-scroll>
                        </ul>
                    </div>
                </div>
            </section>

        </div>
    </ion-content>
</ion-view>