<ion-view view-title="">
    <ion-content>

        <header class="bar bar-nav orange head">
            <a class="pull-left tab city" href="#/tab/dash-choose">{{place.city}}</a>
            <a class="icon pull-right call" href="#myPopover"><img src="images/phoneicon.png"></a>

            <h1><input type="search" placeholder="搜索目的地" ng-blur="search(keyword);" ng-model="keyword"></h1>
        </header>
        <div class="content" id="main_box">
            <div class="addWrap">
                <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true">
                    <ion-slide>
                        <div><a href="javascript:;"><img class="img-responsive" src="images/banner.jpg"/></a></div>
                    </ion-slide>
                    <ion-slide>
                        <div><a href="javascript:;"><img class="img-responsive" src="images/banner.jpg"/></a></div>
                    </ion-slide>
                    <ion-slide>
                        <div><a href="javascript:;"><img class="img-responsive" src="images/banner.jpg"/></a></div>
                    </ion-slide>
                </ion-slide-box>

            </div>
            <aside class="bar-tab lv_btn padtb10">
                <a href="#/tab/travel" class="tab-item">
                    <span class="icon index_b_nav"><img src="images/indexicon.jpg"></span>
                    <span class="tab-label">团游</span>
                </a>
                <a href="#/tab/hotel" class="tab-item">
                    <span class="icon index_b_nav"><img src="images/indexicon3.jpg"></span>
                    <span class="tab-label">酒店</span>
                </a>
                <a href="#/tab/plane" class="tab-item">
                    <span class="icon index_b_nav"><img src="images/indexicon4.jpg"></span>
                    <span class="tab-label">机票</span>
                </a>
                <a href="#/tab/user-dai" class="tab-item">
                    <span class="icon index_b_nav"><img src="images/indexicon6.jpg"></span>
                    <span class="tab-label">现金贷</span>
                </a>
            </aside>
            <dl class="lv_block clearfix pad10">
                <dt>
                    <a href="#/tab/travel">
                        <h5>周边游</h5>

                        <p>精选一日游、周边游、靠谱</p>
                    </a>
                </dt>
                <dd>
                    <a href="#/tab/travel">
                        <h5>境外游</h5>

                        <p>经典行程地道玩法、省钱</p>
                    </a>
                    <a href="#/tab/travel">
                        <h5>境内游</h5>

                        <p>个性境内旅游方案、畅想</p>
                    </a>
                </dd>
            </dl>
            <div id="picScroll" class="picScroll">
                <div class="hd">
                    <ul></ul>
                </div>
                <div class="bd">
                    <ul ng-repeat="val in hotCity.lists">
                        <li ng-repeat="v in val">
                            <a href="#" ng-click="selCity(v.cityname)">
                                <img src="images/img1.jpg">

                                <p>{{v.cityname}}</p>
                            </a>
                        </li>
                    </ul>
                    <ul></ul>
                    <ul></ul>
                </div>
            </div>
            <div class="index_box hasbot">
                <h3>周边推荐</h3>

                <div id="slideBox1" class="slideBox slideBox1">
                    <div class="bd">
                        <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true">
                            <ion-slide ng-repeat="v in travelList.zhoubian">
                                <a href="#" ng-click="showTravel(v.packageid)">
                                    <dl>
                                        <dt><img my-src="{{v.picture}}"></dt>
                                        <dd><p>{{v.title}}</p>

                                            <p><span>{{v.other_info}}</span><em>|</em><span
                                                    data-ng-bind-html="v.special_info"></span>
                                            </p></dd>
                                    </dl>
                                </a>
                            </ion-slide>
                        </ion-slide-box>
                    </div>

                    <div class="hd">
                        <ul></ul>
                    </div>
                </div>
            </div>

            <div class="index_box hasbot">
                <h3>境内推荐</h3>

                <div id="slideBox2" class="slideBox slideBox2">
                    <div class="bd">
                        <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true">
                            <ion-slide ng-repeat="v in travelList.jingnei">
                                <a href="#" ng-click="showTravel(v.packageid)">
                                    <dl>
                                        <dt><img my-src="{{v.picture}}"></dt>
                                        <dd><p>{{v.title}}</p>

                                            <p><span>{{v.other_info}}</span><em>|</em><span
                                                    data-ng-bind-html="v.special_info"></span>
                                            </p></dd>
                                    </dl>
                                </a>
                            </ion-slide>
                        </ion-slide-box>
                    </div>

                    <div class="hd">
                        <ul></ul>
                    </div>
                </div>
            </div>

            <div class="index_box hasbot">
                <h3>境外推荐</h3>

                <div id="slideBox3" class="slideBox slideBox1">
                    <div class="bd">
                        <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true">
                            <ion-slide ng-repeat="v in travelList.jingwai">
                                <a href="#" ng-click="showTravel(v.packageid)">
                                    <dl>
                                        <dt><img my-src="{{v.picture}}"></dt>
                                        <dd><p>{{v.title}}</p>

                                            <p><span>{{v.other_info}}</span><em>|</em><span
                                                    data-ng-bind-html="v.special_info"></span>
                                            </p></dd>
                                    </dl>
                                </a>
                            </ion-slide>
                        </ion-slide-box>
                    </div>

                    <div class="hd">
                        <ul></ul>
                    </div>
                </div>
            </div>


            <div class="index_box hasbot">
                <h3>酒店推荐</h3>

                <div id="slideBox5" class="slideBox slideBox5">
                    <div class="bd">
                        <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true">
                            <ion-slide ng-repeat="v in hotHotel.lists">
                                <a href="#" ng-click="showHotel(v.packageid)">
                                    <dl>
                                        <dt><img my-src="{{v.Image}}"></dt>
                                        <dd><p>{{v.hotelname}}</p>

                                            <p>
                                                <span>{{v.ourprice}}</span><em>|</em><span>{{v.MonthPay}}<em>×
                                                12</em></span></p></dd>
                                    </dl>
                                </a>

                            </ion-slide>
                        </ion-slide-box>
                    </div>

                    <div class="hd">
                        <ul></ul>
                    </div>
                </div>
            </div>

        </div>
        <div id="myPopover" class="popover botphone">
            <img src="images/logo.jpg" class="logo">
            <h4>24小时客服电话</h4>

            <p>400-888-3658（免长途费）</p>
            <a class="btn btn-orange btn-block" href="tel:400-888-3658">电话咨询</a>
            <button class="btn btn-grey btn-block">取消</button>
        </div>
    </ion-content>
</ion-view>
