<ion-view view-title="">
    <ion-content scroll="false">
        <header class="bar bar-nav orange head">
            <a class="pull-left tab city" href="#/tab/dash-choose">{{place.city}}</a>
            <span class="callphone" ng-click="showPhone(true);"><img src="images/phoneicon.png"></span>

            <h1 class="search-h1"><input type="search" placeholder="搜索目的地" ng-blur="search(keyword);"
                                         ng-model="keyword"><span class="icon icon-search" ng-click="search(keyword);"></span></h1></header>
        <div class="botphone popover2" ng-show="show">
            <img src="images/logo.jpg" class="logo">
            <h4>24小时客服电话</h4>

            <p>{{conf.phone|phone}}（免长途费）</p>
            <a class="btn btn-orange btn-block" href="tel:{{conf.phone}}">电话咨询</a>
            <button class="btn btn-grey btn-block" ng-click="showPhone(false)">取消</button>
        </div>
    </ion-content>
    <ion-content>
        <div class="content padt50" id="main_box">
            <div class="addWrap">
                <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="false" does-continue="true">
                    <ion-slide ng-repeat="v in banner">
                        <div><a href="#" ng-click="bannerGoTo(v.slide_url);"><img class="img-responsive"
                                                                                  my-src="{{v.slide_pic}}"/></a></div>
                    </ion-slide>
                </ion-slide-box>

            </div>
            <aside class="bar-tab lv_btn padtb10">
                <a href="#/tab/travel" class="tab-item">
                    <span class="icon index_b_nav"><img src="images/indexicon.jpg"></span>
                    <span class="tab-label">团游</span>
                </a>
                <a href="#/tab/hotel" class="tab-item">
                    <span class="icon index_b_nav"><img src="images/indexicon3.jpg"></span>
                    <span class="tab-label">酒店</span>
                </a>
                <a href="#/tab/plane" class="tab-item">
                    <span class="icon index_b_nav"><img src="images/indexicon4.jpg"></span>
                    <span class="tab-label">机票</span>
                </a>
                <a href="#/tab/dai" class="tab-item">
                    <span class="icon index_b_nav"><img src="images/indexicon6.jpg"></span>
                    <span class="tab-label">现金贷</span>
                </a>
            </aside>
            <!--<dl class="lv_block clearfix pad10">-->
            <!--<dt>-->
            <!--<a href="#" ng-click="setTravelCurMenu('zhoubian')">-->
            <!--<h5>周边游</h5>-->

            <!--<p>精选一日游、周边游、靠谱</p>-->
            <!--</a>-->
            <!--</dt>-->
            <!--<dd>-->
            <!--<a href="#" ng-click="setTravelCurMenu('jingwai')">-->
            <!--<h5>境外游</h5>-->

            <!--<p>经典行程地道玩法、省钱</p>-->
            <!--</a>-->
            <!--<a href="#" ng-click="setTravelCurMenu('jingnei')">-->
            <!--<h5>境内游</h5>-->

            <!--<p>个性境内旅游方案、畅想</p>-->
            <!--</a>-->
            <!--</dd>-->
            <!--</dl>-->
            <div id="picScroll" class="picScroll">
                <div class="hd">
                    <ul></ul>
                </div>
                <div class="bd">
                    <ul ng-repeat="val in hotCity.lists">
                        <li>
                            <a href="#" ng-click="selCity('广州')">
                                <img src="images/city/gz.jpg">

                                <p>广州</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" ng-click="selCity('深圳')">
                                <img src="images/city/sz.jpg">

                                <p>深圳</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" ng-click="selCity('北京')">
                                <img src="images/city/bj.jpg">

                                <p>北京</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" ng-click="selCity('上海')">
                                <img src="images/city/sh.jpg">

                                <p>上海</p>
                            </a>
                        </li>
                        <!--<li>-->
                        <!--<a href="#" ng-click="selCity('重庆')">-->
                        <!--<img src="images/city/cq.jpg">-->

                        <!--<p>重庆</p>-->
                        <!--</a>-->
                        <!--</li>-->
                        <li>
                            <a href="#" ng-click="selCity('西安')">
                                <img src="images/city/xa.jpg">

                                <p>西安</p>
                            </a>
                        </li>
                        <!--<li>-->
                        <!--<a href="#" ng-click="selCity('天津')">-->
                        <!--<img src="images/city/tj.jpg">-->

                        <!--<p>天津</p>-->
                        <!--</a>-->
                        <!--</li>-->

                    </ul>
                    <ul></ul>
                    <ul></ul>
                </div>
            </div>
            <div class="index_box hasbot">
                <h3>周边推荐</h3>

                <div id="slideBox1" class="slideBox slideBox1">
                    <div class="bd">
                        <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="false"
                                       does-continue="true">
                            <ion-slide ng-repeat="v in travelList.zhoubian">
                                <a href="#" ng-click="showTravel(v.packageid)">
                                    <dl>
                                        <dt><img my-src="{{v.picture}}"></dt>
                                        <dd><p>{{v.title}}</p>

                                            <p><span>{{v.other_info}}</span><em>|</em><span
                                                    data-ng-bind-html="v.special_info"></span>
                                            </p></dd>
                                    </dl>
                                </a>
                            </ion-slide>
                        </ion-slide-box>
                    </div>

                    <div class="hd">
                        <ul></ul>
                    </div>
                </div>
            </div>

            <div class="index_box hasbot">
                <h3>境内推荐</h3>

                <div id="slideBox2" class="slideBox slideBox2">
                    <div class="bd">
                        <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="false"
                                       does-continue="true">
                            <ion-slide ng-repeat="v in travelList.jingnei">
                                <a href="#" ng-click="showTravel(v.packageid)">
                                    <dl>
                                        <dt><img my-src="{{v.picture}}"></dt>
                                        <dd><p>{{v.title}}</p>

                                            <p><span>{{v.other_info}}</span><em>|</em><span
                                                    data-ng-bind-html="v.special_info"></span>
                                            </p></dd>
                                    </dl>
                                </a>
                            </ion-slide>
                        </ion-slide-box>
                    </div>

                    <div class="hd">
                        <ul></ul>
                    </div>
                </div>
            </div>

            <div class="index_box hasbot">
                <h3>境外推荐</h3>

                <div id="slideBox3" class="slideBox slideBox1">
                    <div class="bd">
                        <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="false"
                                       does-continue="true">
                            <ion-slide ng-repeat="v in travelList.jingwai">
                                <a href="#" ng-click="showTravel(v.packageid)">
                                    <dl>
                                        <dt><img my-src="{{v.picture}}"></dt>
                                        <dd><p>{{v.title}}</p>

                                            <p><span>{{v.other_info}}</span><em>|</em><span
                                                    data-ng-bind-html="v.special_info"></span>
                                            </p></dd>
                                    </dl>
                                </a>
                            </ion-slide>
                        </ion-slide-box>
                    </div>

                    <div class="hd">
                        <ul></ul>
                    </div>
                </div>
            </div>


            <div class="index_box hasbot">
                <h3>酒店推荐</h3>

                <div id="slideBox5" class="slideBox slideBox5">
                    <div class="bd">
                        <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="false"
                                       does-continue="true">
                            <ion-slide ng-repeat="v in hotHotel.lists">
                                <a href="#" ng-click="showHotel(v.packageid)">
                                    <dl>
                                        <dt><img my-src="{{v.Image}}"></dt>
                                        <dd><p>{{v.hotelname}}</p>

                                            <p>
                                                <span>特惠价：{{v.ourprice|currency:'￥'}}</span>
                                    </dl>
                                </a>

                            </ion-slide>
                        </ion-slide-box>
                    </div>

                    <div class="hd">
                        <ul></ul>
                    </div>
                </div>
            </div>

        </div>

    </ion-content>

</ion-view>

