<ion-view title="修改邮箱">
    <ion-content>
        <div class="content pad50 grey" id="main_box">
            <form class="input-group chpass">
                <div class="input-row border_radius">
                    <label>邮箱</label>
                    <input type="text" placeholder="邮箱可用于登陆" ng-model="safe.user_login">
                </div>
                <div class="padlr10">
                    <button class="btn btn-block btn-orange loginbtn" ng-click="changeEmail();">完成</button>
                </div>
            </form>

    </ion-content>
</ion-view>