<ion-view title="手机号">
    <ion-content>
        <div class="content pad50 grey" id="main_box">
            <form class="input-group chpass">
                <div class="input-row border_radius">
                    <label>手机号</label>
                    <input type="text" placeholder="手机号可用于登陆" ng-model="safe.phone">
                </div>
                <div class="input-row border_radius">
                    <label>验证码</label>
                    <input type="text" placeholder="手机验证码" ng-model="safe.sms_code">
                </div>
                <div class="input-row border_radius">
                    <label>重新获取验证码</label>
                    <button ng-click="rGetSMScode();" ng-disabled="isNaN(time)" class="btn hq-yzm">{{time}}</button>
                </div>
                <div class="padlr10">
                    <button class="btn btn-block btn-orange loginbtn">完成</button>
                </div>
            </form>

    </ion-content>
</ion-view>