<ion-view>
    <ion-content>
        <header class="bar bar-nav">
            <a class="icon icon-left-nav pull-left" ng-click="goToLastTpl();"></a>

            <h1 class="title">手机号</h1>
        </header>
        <div class="content pad50 grey" id="main_box">
            <form class="input-group chpass">
                <div class="input-row border_radius">
                    <label>手机号</label>
                    <input type="text" placeholder="手机号可用于登陆">
                </div>
                <div class="padlr10">
                    <button class="btn btn-block btn-orange loginbtn">完成</button>
                </div>
            </form>

    </ion-content>
</ion-view>