<ion-view title="全部订单">
    <ion-content>
        <div class="content pad50 grey" id="main_box">
            <div ng-if="userOrder.order_list_count == 0 || userOrder.order_list_count == null">暂无订单信息！</div>
            <ul class="table-view huan_zh">
                <li class="table-view-cell media pad10 clearfix" ng-repeat="v in userOrder.order_list">
                    <a href="#" class="pull-left pay-noma"><img class="media-object" ng-src="{{v.product_url}}"></a>

                    <div class="media-body">
                        <dl>
                            <dt>
                            <h3>{{v.product}}</h3>

                            <p>
                                <span>月供<i>{{v.month_amount|currency:'￥'}}</i></span><span>分<i>{{v.finance_count}}</i>期</span>
                            </p>

                            <!--<p>下次还款日期：2015年9月10日</p>-->
                            </dt>
                            <dd>
                                <h5>{{(v.month_amount * v.finance_count)|currency:'￥'}}</h5>
                                <a href="#/tab/pay" class="btn btn-orange">支付</a>
                            </dd>
                        </dl>
                    </div>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>