<ion-view>
    <ion-content>
        <div class="content pad50" id="main_box">
            <div class="segmented-control quantit" ng-init="show = true">
                <a ng-class="show ? 'active control-item' : 'control-item'" href="#" ng-click="show = true">
                    可用
                </a>
                <a ng-class="!show ? 'active control-item' : 'control-item'" href="#" ng-click="show = false">
                    已过期
                </a>
            </div>
            <div class="card userquan">
                <div id="item1mobile" class="control-content active" ng-show="show">
                    <div class="quan clearfix">
                        <div style="padding:10px;" ng-if="userWallet.count[1] == 0"><font color="gray">暂无优惠券</font></div>
                        <div class="quanbox" ng-repeat="v in userWallet.coupon_tickets" ng-show="v.status_id != 3">
                            <dl class="quan_top">
                                <dt>
                                    <span>￥</span>{{v.par_value}}
                                </dt>
                                <dd>优惠券</dd>
                            </dl>
                            <div class="quanbot">
                                <h5>消费满{{v.limit_value}}元可使用本券（仅限{{v.product_names}}）</h5>

                                <p>使用期限：{{v.expire_time}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!--已经过期-->
                <div id="item1mobile" class="control-content active" ng-show="!show">
                    <div class="quan clearfix">
                        <div style="padding:10px;" ng-if="userWallet.count[1] == 0"><font color="gray">暂无优惠券</font></div>
                        <div class="quanbox" ng-repeat="v in userWallet.coupon_tickets" ng-show="v.status_id == 3">
                            <dl class="quan_top">
                                <dt>
                                    <span>￥</span>{{v.par_value}}
                                </dt>
                                <dd>优惠券</dd>
                            </dl>
                            <div class="quanbot">
                                <h5>消费满{{v.limit_value}}元可使用本券（仅限{{v.product_names}}）</h5>

                                <p>使用期限：{{v.expire_time}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>