<ion-view title="选择城市">
    <ion-content>
        <header class="chooze-head grey searchcity">
            <h1 class="search-h1 search-more">
                <input type="search" placeholder="输入城市名(如深圳\SZ、shenzhen)" ng-model="searchCity" ng-blur="selCurCity(searchCity);">
                <span class="icon icon-search" ng-click="selCurCity(searchCity);"></span>
            </h1>
        </header>

        <div class="content grey" id="main_box">
            <section>
                <h3 class="citytit">当前城市</h3>
                <div class="citychooze clearfix">
                    <span class="on" ng-if="place.city == '全国'">暂时无法获取您的位置，请选择!</span>
                    <a class="on" ng-hide="place.city == '全国'">{{place.city}}</a>
                </div>
            </section>
            <section>
                <h3 class="citytit">常用城市</h3>
                <div class="citychooze clearfix">
                    <a ng-class="place.city == usedCity[0].name ?'on':'' " ng-click="setCurCity(usedCity[0].name);">{{usedCity[0].name}}</a><a ng-class="place.city == usedCity[1].name ?'on':'' " ng-click="setCurCity(usedCity[1].name);">{{usedCity[1].name}}</a>
                </div>
            </section>
            <section>
                <h3 class="citytit">热门城市</h3>
                <div class="citychooze clearfix">
                    <a href="#" ng-class="place.city == v.cityname ?'on':'' " ng-repeat="v in hotCity.lists" ng-click="setCurCity(v.cityname);">{{v.cityname}}</a>
                    <a href="#" ng-class="place.city == v ?'on':'' " ng-repeat="v in hotCity.moreCity" ng-click="setCurCity(v);">{{v}}</a>
                </div>
            </section>
        </div>

        <aside>
            <section>
                <h3 class="citytit">快速定位</h3>
                <div class="citychooze clearfix">
                    <a href="#" ng-repeat="v in pyList" ng-click="pySearchCity(v)"
                       ng-class="curPy == v ? 'on' :''"
                            >{{v}}</a>
                </div>
            </section>
            <section>
                <h3 class="citytit">{{curPy}}</h3>
                <div class="citychooze2" name="A" id="A">
                    <a href="#" ng-repeat="v in pyCityList" ng-click="setCurCity(v.city);">{{v.city}}</a>
                </div>
            </section>
        </aside>
    </ion-content>
</ion-view>