<ion-view>
    <ion-content title="图片展示">
        <div class="content pad50 grey" id="main_box">
            <div class="intro_tra white">
                <div class="addWrap">
                    <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true">
                        <ion-slide ng-repeat="v in hotelDetal.data.images">
                            <div><img  ng-src="{{v.url}}" class="w100"></div>
                        </ion-slide>
                    </ion-slide-box>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>