<ion-view>
    <ion-content>
        <header class="bar bar-nav orange">
            <a class="icon icon-left-nav pull-left" ng-click="goToLastTpl();s"></a>
            <h1 class="title">图片展示</h1>
        </header>
        <div class="content pad50 grey" id="main_box">
            <div class="intro_tra white">
                <div class="addWrap">
                    <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true">
                        <ion-slide ng-repeat="v in hotelDetal.data.images">
                            <div><img  ng-src="{{v.url}}" class="w100"></div>
                        </ion-slide>
                    </ion-slide-box>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>