<ion-view title="订单填写">
    <ion-content>
        <div class="content pad50 grey" id="main_box">
            <div class="hotel_order">
                <h3>{{hotelOrderInfo.hotel.hotelname}}</h3>

                <p>{{hotelOrderInfo.room.roomtypename}}</p>
                <h5>
                    <span>入住：<em>{{hotelOrderInfo.checkindate}}</em></span><span>离店：<em>{{hotelOrderInfo.checkoutdate}}</em><em>共：{{hotelOrderInfo.TotalDays}}晚</em></span>
                </h5>

                <p>{{hotelOrderInfo.room.ratelist[0].breakfast ? '含早餐' : '无早餐'}}</p>
                <h5><span>单价：<em class="color">{{hotelOrderInfo.TotalPrice|currency:'￥'}}</em></span></h5>
                <!--<h5><span>分期：<em class="color">分{{hotelOrderInfo.DefaultStage}}期</em></span><span>月供：<em class="color">{{hotelOrderInfo.RefundEachMonth|currency:'￥'}}</em></span></h5>-->
            </div>
            <section>
                <div class="pla_or_main">

                    <form class="input-group hotel-sel">
                        <div class="input-row">
                            <label>房间数</label>

                            <div class="enter_year">
                                <select name="" ng-model="hotel.order.ReserveRoomNumber"
                                        ng-change="updateTotalPay(hotel.order.ReserveRoomNumber);">
                                    <option ng-repeat="v in roomList" value="{{v}}"
                                            ng-click="hotel.order.ReserveRoomNumber = v;" ng-selected="$index == 1">
                                        {{v}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <form class="input-group hotel-sel">
                            <div class="input-row">
                                <label>入住人</label>
                                <input type="text" placeholder="必填一位入住人的姓名" ng-model="hotel.order.Customer">
                            </div>
                            <div class="input-row">
                                <label>分期(月)</label>

                                <div class="enter_year">
                                    <select name="" id="" ng-model="hotel.order.ByStages"
                                            ng-change="getMonthPay(hotel.order.ByStages , hotel.order.TotalPrice)">
                                        <option ng-repeat="v in fenList" value="{{v}}" ng-selected="v == 12">{{v}}月
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </form>
                </div>
                <div class="pla_or_main">

                    <form class="input-group">
                        <div class="input-row">
                            <label>最晚到店时间</label>
                            <input type="text" placeholder="必填" id="demo" ng-model="hotel.order.Arrival"
                                   ng-click="selDate('hotel.order.Arrival');">
                        </div>
                        <div class="input-row">
                            <label>预订人手机</label>
                            <input type="text" ng-model="hotel.order.PhoneNumber">
                        </div>
                        <div class="input-row">
                            <label>备注</label>
                            <input type="text" ng-model="hotel.order.Memo">
                        </div>
                    </form>
                </div>
            </section>
        </div>
        <div class="plane_total clearfix">
            <div class="pull-left">
                <p><em>总额<span>{{hotel.order.TotalPrice|currency:'￥'}}</span></p>

                <p><em>分<span>{{hotel.order.ByStages}}期</span></em><em>月供<span>{{hotel.order.RefundEachMonth|currency:'￥'}}</span></em>
                </p>
            </div>

            <div class="pull-right">
                <a href="#/tab/hotel-order2" class="btn btn-orange">下一步</a>
            </div>
        </div>
        <div class="mask"></div>
        <!--<div class="plane_pri">-->
            <!--<p class="hk_infor">{{hotel.dDate}}出发</p>-->

            <!--<div class="pri_infor">-->
                <!--<p class="clearfix"><span>成人价：</span><em>{{hotelOrderInfo.TotalPrice|currency:'￥'}}×{{order.ReserveRoomNumber}}</em>-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
    </ion-content>
</ion-view>