<ion-view title="搜索详情">
    <ion-content scroll="false">
        <div class="botphone popover2 yud">
            <!--预定-->
            <a href="#" ng-click="checkLogin('travel-order1')"></a>
        </div>
    </ion-content>

    <ion-content>
        <div class="content pad50 grey" id="main_box">
            <section>
                <div class="intro_tra white" style="
    padding-top: 15px;">
                    <div class="addWrap">
                        <div class="swipe" id="mySwipe">
                            <div class="swipe-wrap">
                            </div>
                        </div>
                        <ul id="position">
                            <li class="cur"></li>
                            <li class=""></li>
                            <li class=""></li>
                        </ul>
                    </div>
                    <!--<img ng-src="#" class="w100">-->
                    <!--<img src="images/tra_con.jpg" class="w100">-->
                    <h3>{{searchDetal.li.productname}}</h3>
                    <p ng-if="searchDetal.li.today_price == null"><span>暂无报价</span></p>
                    <p ng-hide="searchDetal.li.today_price == null"><span>乐有方价： ￥{{searchDetal.li.today_price}}起</span><i> 乐有方价：<em> ￥{{searchDetal.li.today_price}}</em>起</i></p>
                </div>
            </section>
            <section>
                <ul class="table-view">
                    <li class="table-view-cell">
                        <a class="navigate-right" id="demo" href="#/tab/travel-calendar">
                            <h3 class="tra_con_tit tuan">查看和选择团期</h3>
                            <p>07-18，07-19，07-20，07-21，07-22，07-23…</p>
                        </a>
                    </li>
                </ul>
            </section>
            <div class="tra_intro pad10 white">
                <h3 class="tra_con_tit chan">产品介绍</h3>
                <div class="tra_block">

                </div>
                <section>
                    <div class="anpai">
                        <h3 class="tra_con_tit anp">行程安排</h3>
                        <div class="an_main">
                            <dl ng-repeat="v in searchDetal.li.trips.trip">
                                <dt>
                                    <span></span>
                                </dt>
                                <dd>
                                    <h3>第{{v.tripDay}}天</h3>
                                    <p>标题：{{v.tripTitle}}</p>
                                    <p>用餐： {{v.breakfast}}</p>
                                    <p>住宿： {{v.tripStay}}</p>
                                    <p>交通： {{v.tripType}}</p>
                                    <p>{{v.tripInfo}}</p>
                                </dd>
                            </dl>
                            <div ng-if="searchDetal.li.trips == null">暂无详细信息</div>
                        </div>
                    </div>
                </section>
                <section>
                    <ul class="table-view cor_border">
                        <li class="table-view-cell" style="top:-50px;">
                            <a class="navigate-right" href="#/tab/travel-xz">
                                <h3 class="tra_con_tit fei">费用说明和预订须知</h3>
                            </a>
                        </li>
                    </ul>
                </section>
            </div>
    </ion-content>
</ion-view>