<ion-view title="搜索结果">
    <ion-content>
        <ion-refresher
                pulling-text="加载中..."
                on-refresh="getLastPage(curPage - 1)"
                ></ion-refresher>
        <div class="content" id="main_box">
        <!--<header class="bar bar-nav orange head">-->
            <!--<a class="pull-left tab city" href="" ng-click="changeTpl('travelChoose.html');">{{curCity}}</a>-->
            <!--<a class="icon pull-right call" href="#myPopover"><img src="images/phoneicon.png"></a>-->
            <!--<h1><input type="search" placeholder="旅游目的地搜索" ng-model="curCity"></h1>-->
        <!--</header>-->

            <!--旅游-->
        <div class="content grey" id="main_box" ng-show="searchType == 1 || !searchType">
            <section>
                <div class="card travel_list">
                    <div id="item1mobile" class="control-content active">
                        <ul class="table-view">
                            <li class="table-view-cell media nopa" ng-repeat="v in searchList.lists">
                                <a class="navigate-right nopa" href="#"  ng-click="getSearchDetal(v.packageid , 'travel');">
                                    <img class="media-object pull-left" src="{{v.image_url}}">
                                    <div class="media-body">
                                        <h4>{{v.productname}}</h4>
                                        <h6><em>{{v.today_price}}</em>起</h6>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

        </div>
            <!--酒店-->
        <div class="content grey" id="main_box" ng-show="searchType == 3">
            <section>
                <div class="card travel_list">
                    <div id="item1mobile" class="control-content active">
                        <ul class="table-view">
                            <li class="table-view-cell media nopa" ng-repeat="v in searchList.lists">
                                <a class="navigate-right nopa" href="#"  ng-click="getSearchDetal(v.hotelid , 'hotel');">
                                    <img class="media-object pull-left" my-src="{{v.Image}}">
                                    <div class="media-body">
                                        <h4>{{v.hotelname}}</h4>
                                        <h6>评分：<em>{{v.ctripcommrate}}</em></h6>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

        </div>
            <!-- 机票-->
        <div class="content grey" id="main_box" ng-show="searchType == 2">
            <section>
                <div class="card travel_list">
                    <div id="item1mobile" class="control-content active">
                        <ul class="table-view">
                            <li class="table-view-cell media nopa" ng-repeat="v in searchList.lists">
                                <a class="navigate-right nopa" href="#"  ng-click="getSearchDetal(v.id , 'plane' , {dCity:v.departcityname , aCity:v.arrivecityname});">
                                    <img class="media-object pull-left" my-src="/statics/images/upimg/pic13.jpg">
                                    <div class="media-body">
                                        <h4>{{v.departdate}} {{v.departcityname}}飞{{v.arrivecityname}} [{{v.flightno}}]</h4>
                                        <h6 ng-if="!v.ourprice"><em>暂无价格</em></h6>
                                        <h6 ng-if="v.ourprice"><em>{{v.ourprice|currency:'￥'}}</em>起</h6>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

        </div>
            <ion-infinite-scroll
                    on-infinite="loadMore(curPage+1)"
                    distance="1%"
                    >
            </ion-infinite-scroll>
    </ion-content>
</ion-view>