<ion-view title="订单支付">
    <ion-content>
        <div class="content pad50 grey" id="main_box">
            <section class="order_infor">
                <h3>单程  深圳-重庆</h3>
                <p>2015-07-21  11:26 去</p>
                <p>为了确保出票，请在12:30前完成支付。</p>
                <h5>应付总额:<span>￥340.00</span></h5>
            </section>
            <section>
                <ul class="table-view paylist">
                    <li class="table-view-cell media">
                        <a class="navigate-right" ng-click="payable();">
                            <span class="media-object pull-left icon"><img src="images/icon/pay.jpg"></span>
                            <div class="media-body">
                                分期付款
                            </div>
                        </a>
                    </li>
                    <li class="table-view-cell media">
                        <a class="navigate-right" ng-click="fullPay();">
                            <span class="media-object pull-left icon"><img src="images/icon/pay2.jpg"></span>
                            <div class="media-body">
                                直接付款
                            </div>
                        </a>
                    </li>
                </ul>
            </section>
            	<form class="input-group chpass">                   
                <div class="input-row border_radius">
                    <label>支付密码</label>
                    <input type="password" placeholder="请输入支付密码">
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>