<ion-view title="支付成功">
    <ion-content>
        <!--注册成功-->
        <header class="bar bar-nav">
            <a class="icon icon-left-nav pull-left"></a>

            <h1 class="title">支付成功</h1>
        </header>
        <div class="content pad50 grey" id="main_box">
            <div class="reg_succ">
                <img src="images/user/succ_icon.png">

                <p>恭喜您，支付成功</p>
                <a class="btn btn-block btn-orange" href="#/tab/dash">返回首页</a>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>