<ion-view>
    <ion-content>
        <header class="bar bar-nav orange" ng-click="changeTpl('travel.html');">
            <a class="icon icon-left-nav pull-left"></a>
            <h1 class="title">选择团期</h1>
        </header>
        <div class="content pad50 pad10" id="main_box">
            <div class="chu_people">
                <div class="chooze_num clearfix">
                    <h3>出游人</h3>
                    <div class="num_add">
                        <span class="jian">-</span>
                        <span class="num">1</span>
                        <span class="jia">+</span>
                    </div>
                    <div class="num_money">成人<span>￥1986</span></div>
                </div>
                <p class="tra_txt"><span class="icon icon-info"></span>订单价格以确定出游方案为准。</p>
            </div>
            <p id="demo"></p>

            <div class="tra_bot">
                <dl>
                    <dt>
                    <p>2成人</p>
                    <p>已选团期：2015-09-01</p>
                    </dt>
                    <dd>
                        <a href="/tab/travel-order1" class="btn btn-orange">下一步：确认优惠信息</a>
                    </dd>
                </dl>
            </div>
        </div>
    </ion-content>
</ion-view>