<ion-view title="订单详情">
    <ion-content>
        <div class="content pad50 grey" id="main_box">
            <div class="hotel_order">
                <h3>{{travelDetal.li.productname}}</h3>
                <p>出发日期: {{dDate}}</p>
                <h5>出游人数: {{adultNum}}成人</h5>
                <h5><span>费用：<em class="color">{{(travelDetal.li.today_price * adultNum)|currency:'￥'}}</em></span></h5>
                <!--<h5><span>订单价格:：<em class="color">分12期</em></span><span>月供：<em class="color">{{(travelDetal.today_price/12)|currency:'￥'}}</em></span></h5>-->
            </div>
            <section>
                <div class="index_box plane_order2">
                    <h3>订单信息</h3>
                    <ul class="table-view">
                        <li class="table-view-cell">
                            <p><span>应付金额</span><em class="color">{{(travelDetal.li.today_price * adultNum)|currency:'￥'}}</em></p>
                            <!--<p><span>分<em class="color">10</em>期</span><span>月供<em class="color">￥30</em></span></p>-->
                        </li>
                        <!--<li class="table-view-cell"><span>下单时间</span><em>2015-07-18</em></li>-->
                        <!--<li class="table-view-cell"><span>出发时间</span><em>2015-07-18 14:33</em></li>-->
                    </ul>
                </div>
                <!--<div class="index_box plane_order2">-->
                <!--<h3>紧急联系人</h3>-->
                <!--<ul class="table-view">-->
                <!--<li class="table-view-cell"><span>联系人姓名</span><em class="color"></em></li>-->
                <!--<li class="table-view-cell"><span>手机号</span><em></em></li>-->
                <!--</ul>-->
                <!--</div>-->
                <div class="index_box plane_order2">
                    <h3>联系人信息</h3>
                    <ul class="table-view">
                        <li class="table-view-cell"><span>联系人姓名</span><em class="color">{{userInfo.real_name}}</em></li>
                        <li class="table-view-cell"><span>手机号码</span><em>{{userInfo.phone_number}}</em>
                        <li class="table-view-cell"><span>身份证号</span><em>{{userInfo.id_number}}</em></li>
                    </ul>
                </div>
            </section>
            <div class="pla_pay_btn">
                <a href="#" class="btn btn-block btn-orange" ng-click="createTravelOrder();">确认并支付</a>
            </div>
        </div>
    </ion-content>
</ion-view>