<ion-view title="订单填写">
    <ion-content>
        <form action="/portal/travel/place_order" novalidate name="orderForm" ng-submit="submitForm(orderForm.$valid, $event)">
            <div class="content pad50 grey" id="main_box">
                <div class="hotel_order">
                    <h3>{{travelDetal.li.productname}}</h3>
                    <!--<p>出发日期: {{dDate}}</p>
                    <h5>出游人数: {{customers.length}}成人</h5>
                    <h5><span>费用：<em class="color">{{(travelDetal.li.today_price * adultNum)|currency:'￥'}}</em></span></h5>-->
                    <!--<h5><span>订单价格:：<em class="color">分12期</em></span><span>月供：<em class="color">{{(travelDetal.today_price/12)|currency:'￥'}}</em></span></h5>-->
                </div>
                <section>
                    <div class="pla_or_main">
                        <h3 class="pla_or_tit">游客信息</h3>
                        <div class="ck_con">
                            <div class="input-group">
                                <div class="input-row" style="position: relative;">
                                    <label>成人数：</label>
                                    <input disabled="disabled" type="text" placeholder="成人数" value="{{customers.length}}">
                                    <div style="position: absolute;right: 10px;top: 5px;">
                                        <a ng-click="setUserCount(1);" style="color: #ff6102;"><i class="icon ion-plus-circled"></i></a>
                                        <a ng-click="setUserCount(-1);" style="color: #ff6102;"><i class="icon ion-minus-circled"></i></a>
                                    </div>
                                </div>
                                <div class="input-row">
                                    <label>出行日期：</label>
                                    <select name="date" ng-model="date" style="float: right;width: 60%;height: 25px; margin: 0;padding: 0;margin-top: 7px;margin-right: 5%;" required>
                                        <option ng-repeat="vs in travelDetal.li.pricelist.price" value="{{vs.date}}">{{vs.date}}：￥{{vs.adultPrice}}</option>
                                    </select>
                                </div>
                                <div class="input-row" ng-show="orderForm.date.$invalid && !orderForm.date.$pristine">
                                    <label></label>
                                    <span style="color: #ff6102;line-height: 35px;">请选择出行日期</span>
                                </div>
                                <input type="hidden" name="packageId" value="{{travelDetal.li.packageid}}">
                                <input type="hidden" name="adult_count" value="{{customers.length}}">
                                <input type="hidden" name="children_count" value="0">
                            </div>
                        </div>
                    </div>
                    <div class="pla_or_main">
                        <h3 class="pla_or_tit">联系人信息</h3>
                        <dl>
                            <dt></dt>
                            <dd>
                                <div class="input-group">
                                    <div class="input-row">
                                        <label>姓名</label>
                                        <input type="text" placeholder="必填" ng-model="contactor_name" name="contactor_name" required>
                                    </div>
                                    <div class="input-row" ng-show="orderForm.contactor_name.$invalid && !orderForm.contactor_name.$pristine">
                                        <label></label>
                                        <span style="color: #ff6102;line-height: 35px;">请输入联系人姓名</span>
                                    </div>
                                    <div class="input-row" style="border-bottom: 1px solid #ddd;">
                                        <label>联系电话</label>
                                        <input type="text" placeholder="必填" name="contactor_phone" ng-model="contactor_phone" ng-pattern="/^[0-9]{11}$/" required>
                                    </div>
                                    <div class="input-row" ng-show="orderForm.contactor_phone.$invalid && !orderForm.contactor_phone.$pristine">
                                        <label></label>
                                        <span style="color: #ff6102;line-height: 35px;">请输入联系电话</span>
                                    </div>
                                    <div class="input-row">
                                        <label>邮箱</label>
                                        <input type="email" placeholder="必填" name="contactor_email" ng-model="contactor_email" required>
                                    </div>
                                    <div class="input-row" ng-show="orderForm.contactor_email.$invalid && !orderForm.contactor_email.$pristine">
                                        <label></label>
                                        <span style="color: #ff6102;line-height: 35px;">请输入邮箱地址</span>
                                    </div>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="index_box plane_order2">
                        <h3>紧急联系人</h3>
                        <div class="input-row">
                            <label>姓名</label>
                            <input type="text" placeholder="必填" name="emergency_name" ng-model="emergency_name" required>
                        </div>
                        <div class="input-row" ng-show="orderForm.emergency_name.$invalid && !orderForm.emergency_name.$pristine">
                            <label></label>
                            <span style="color: #ff6102;line-height: 35px;">请输入紧急联系人姓名</span>
                        </div>
                        <div class="input-row">
                            <label>联系电话</label>
                            <input type="text" placeholder="必填" ng-model="emergency_phone" name="emergency_phone" required>
                        </div>
                        <div class="input-row" ng-show="orderForm.emergency_phone.$invalid && !orderForm.emergency_phone.$pristine">
                            <label></label>
                            <span style="color: #ff6102;line-height: 35px;">请输入紧急联系人电话</span>
                        </div>
                    </div>
                    <div class="pla_or_main">
                        <h3 class="pla_or_tit">游客信息</h3>
                        <dl ng-repeat="user in customers track by $index">
                            <dt style="padding: 5px 15px;border-bottom: 1px solid #ddd;color: #ff6102;">游客{{$index+1}}</dt>
                            <dd>
                                <div class="input-group">
                                    <div class="input-row">
                                        <label>姓名</label>
                                        <input type="text" placeholder="必填" ng-model="customers[$index].name" name="customers[{{$index}}][name]" required>
                                    </div>
                                    <div class="input-row" ng-show="!customers[$index].name">
                                        <label></label>
                                        <span style="color: #ff6102;line-height: 35px;">请输入游客姓名</span>
                                    </div>
                                    <div class="input-row" style="border-bottom: 1px solid #ddd;">
                                        <label>联系电话</label>
                                        <input type="text" placeholder="必填" ng-model="customers[$index].phone" ng-pattern="/^[0-9]{11}$/" name="customers[{{$index}}][phone]" required>
                                    </div>
                                    <div class="input-row" ng-show="!customers[$index].phone">
                                        <label></label>
                                        <span style="color: #ff6102;line-height: 35px;">请输入游客联系电话</span>
                                    </div>
                                    <div class="input-row">
                                        <label>邮箱</label>
                                        <input type="email" placeholder="必填" ng-model="customers[$index].email" name="customers[{{$index}}][email]" required>
                                    </div>
                                    <div class="input-row" ng-show="!customers[$index].email">
                                        <label></label>
                                        <span style="color: #ff6102;line-height: 35px;">请输入游客邮箱</span>
                                    </div>
                                    <div class="input-row">
                                        <label>身份证</label>
                                        <input type="text" placeholder="必填" ng-model="customers[$index].idnumber" ng-pattern="/(^\d{15}$)|(^\d{17}([0-9]|X)$)/" name="customers[{{$index}}][idnumber]" required>
                                    </div>
                                    <div class="input-row" ng-show="!customers[$index].idnumber">
                                        <label></label>
                                        <span style="color: #ff6102;line-height: 35px;">请输入游客身份证</span>
                                    </div>
                                    <div class="input-row">
                                        <label>英文名</label>
                                        <input type="text" placeholder="必填" ng-model="customers[$index].ename" name="customers[{{$index}}][ename]" required>
                                    </div>
                                    <div class="input-row" ng-show="!customers[$index].ename">
                                        <label></label>
                                        <span style="color: #ff6102;line-height: 35px;">请输入游客英文名</span>
                                    </div>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </section>
            </div>
            <div class="plane_total clearfix">
                <!--<div class="pull-left">-->
                    <!--<p><span ng-if="date">{{date}}出发，</span><em>总额：<span>{{(totalPrice*customers.length)|currency:'￥'}}</span></em><em><span>{{customers.length}}</span>成人</em></p>-->
                <!--</div>-->
            </div>
            <div class="mask"></div>
            <div class="pla_pay_btn">
                <button type="submit" class="btn btn-block btn-orange">确认下单</button>
            </div>
        </form>

    </ion-content>
</ion-view>