<ion-view title="舱位选择">
    <ion-content>
        <div class="content pad50 grey" id="main_box">
            <div class="plane_cw">
                <section>
                    <div class="plane_infor">
                        <p class="hk_infor"><span><img src="images/plane_icon4.jpg"/>2015-07-09</span> <span><img
                                src="images/hkicon.jpg"/>深圳航空公司ZH9959<em>738</em><em>中</em></span></p>

                        <div class="add_plane pad10">
                            <div class="addbox1">
                                <h3>深圳</h3>
                                <h5>07:13</h5>

                                <p>深圳宝安国际机场</p>
                            </div>
                            <div class="addbox2">
                                <img src="images/plane_icon3.jpg"/>
                            </div>
                            <div class="addbox1">
                                <h3>深圳</h3>
                                <h5>07:13</h5>

                                <p>深圳宝安国际机场</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <ul class="table-view plane_list nopa">
                        <a class="table-view-cell" ng-repeat="v in flightLists">
                            <a href="#/tab/plane-order1"> <button class="btn btn-orange" >预订</button></a>
                            <span href="#" class="pull-right money">￥{{v.minprice}}</span> <h4>(经济舱)3.2折</h4>

                            <p><a href="#">退订规定</a></p></li>
                    </ul>
                    <a class="more_cw" href="#">更多舱位<span class="icon icon-down-nav"></span></a>
                </section>
            </div>
        </div>
    </ion-content>
</ion-view>