<ion-view title="订单信息">
    <ion-content>
        <div class="content pad50 grey" id="main_box">
            <div class="plane_cw plane_order">
                <section>
                    <div class="plane_infor">
                        <p class="hk_infor">{{plane.dDate}}，{{plane.curDay}}出发</p>
                        <div class="add_plane pad10">
                            <div class="addbox1">
                                <h3>{{plane.dCity}}</h3>
                                <h5>{{plane.orderInfo.flight.takeofftime}}</h5>

                                <p>{{plane.orderInfo.flight.aairportname}}</p>
                            </div>
                            <div class="addbox2">
                                <img src="images/plane_icon3.jpg"/>
                            </div>
                            <div class="addbox1">
                                <h3>{{plane.aCity}}</h3>
                                <h5>{{plane.orderInfo.flight.arrivetime}}</h5>

                                <p>{{plane.orderInfo.flight.dairportname}}</p>
                            </div>
                        </div>
                        <p class="hk_list"><img src="images/plane_icon.jpg">{{moreSeat.airLineName}} {{plane.orderInfo.flight.flightno}}<em>|</em>{{plane.orderInfo.flight.seatmsg}}</p>
                    </div>
                </section>
            </div>
            <section>
                <div class="index_box plane_order2">
                    <h3>订单信息</h3>
                    <ul class="table-view">
                        <!--<li class="table-view-cell"><span>订单状态</span><em class="color">未付款</em></li>-->
                        <!--<li class="table-view-cell"><span>订单编号</span><em>2130981098</em></li>-->
                        <li class="table-view-cell">
                            <p><span>应付金额</span><em class="color">{{plane.order.totalPay|currency:'￥'}}</em></p>
                            <p><span>分<em class="color">{{plane.order.finance_month}}</em>期</span><span>月供<em class="color">{{plane.order.monthPay|currency:'￥'}}</em></span></p>
                        </li>
                        <!--<li class="table-view-cell"><span>下单时间</span><em>2015-07-18</em></li>-->
                        <li class="table-view-cell"><span>出发时间</span><em>{{plane.dDate}}</em></li>
                    </ul>
                </div>
                <div class="index_box plane_order2">
                    <h3>乘机人信息</h3>
                    <ul class="table-view" ng-repeat="v in temp.linkManList">
                        <li class="table-view-cell"><span>乘客姓名</span><em class="color">{{v.username}}</em></li>
                        <li class="table-view-cell"><span>身份证号</span><em>{{v.userid}}</em></li>
                    </ul>
                </div>
                <div class="index_box plane_order2">
                    <h3>联系人信息</h3>
                    <ul class="table-view">
                        <li class="table-view-cell"><span>联系人姓名</span><em class="color">{{plane.order.contactName}}</em></li>
                        <li class="table-view-cell"><span>手机号码</span><em>{{plane.order.contactPhone}}</em></li>
                    </ul>
                </div>
            </section>
            <div class="pla_pay_btn">
                <a href="#" class="btn btn-block btn-orange" ng-click="createPlaneOrder();">立即支付</a>
            </div>
        </div>
    </ion-content>
</ion-view>