<ion-view title="舱位选择">
    <ion-content>
        <div class="content pad50 grey" id="main_box">
            <div class="plane_cw">
                <section>
                    <div class="plane_infor">
                        <p class="hk_infor"><span><img src="images/plane_icon4.jpg"/>{{plane.dDate}}</span> <span><img
                                src="images/hkicon.jpg"/>{{plane.moreSeat.airLineName}}{{plane.moreSeat.flightNo}}<em>{{plane.moreSeat.planeType}}</em><em>中</em></span></p>

                        <div class="add_plane pad10">
                            <div class="addbox1">
                                <h3>{{plane.dCity}}</h3>
                                <h5>{{plane.moreSeat.taskOffTime}}</h5>

                                <p>{{plane.moreSeat.arriveAirport}}</p>
                            </div>
                            <div class="addbox2">
                                <img src="images/plane_icon3.jpg"/>
                            </div>
                            <div class="addbox1">
                                <h3>{{plane.aCity}}</h3>
                                <h5>{{plane.moreSeat.arrivetime}}</h5>

                                <p>{{plane.moreSeat.departAirport}}</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <ul class="table-view plane_list nopa pl-show-main" ng-init="val = plane.moreSeat">
                        <li class="table-view-cell" ng-repeat="v in val.seatList">
                            <button class="btn btn-orange yud-btno" ng-click="planeBook(val.flightNo , v.seatid);">预订</button>
                            <span href="#" class="pull-right money">{{v.price|currency:'￥'}}</span> <h4>{{v.seatMsg}}</h4>
                    </ul>
                    <!--<a class="more_cw" href="#">更多舱位<span class="icon icon-down-nav"></span></a>-->
                </section>
            </div>
        </div>
    </ion-content>
</ion-view>